---
layout: default
title: Home
lang: eng
ref: home
---

<h1>Libraries As Research Partner In Digital Humanities</h1>
<hr>
<p>Libraries and other cultural heritage organisations (CHOs) and their staff occupy a central role in digital humanities. Given the importance many of these organisations attach to their role as supporters of research, a case can be made for the opportunity and need for libraries and their staff to position and assert themselves as partners in research.</p>

<h3>Theme and programme</h3>
<p>This full-day pre-conference, to be held in The Hague on 8 July, aims to address the complexities of positioning libraries (and other CHOs) as digital humanities research partners. The question of CHOs and librarians as service providers or partners is a well-established, rich territory, with implications for labour and status. However, many are still finding their place in digital humanities due to questions of institutional commitments and external expectations. This pre-conference invites contributions addressing the topic of building trustworthy and sustainable research partnerships in digital (humanities) research that recognize the expertise of CHO staff.
</p>


<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
